
#rcorner1 {
    border-radius: 30px;
    padding: 10px;
    width: 200px;
    height: 50px;
    margin: 20px;
}

#rcorner2 {
    border-radius: 5px;
    background-color:  grey;
    padding: 10px;
    width: 200px;
    height: 50px;
    margin: 20px;
    
}

.nav {
    
}

.listright {
    float: right; 
}

.logo{
    background-color: rgb(161, 207, 179);
    padding: 50px;
    border: 10px;
}


ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
   
}

li {
    display: inline-block;
    padding: 10px;
   
}

li a {
    padding: 10px; 
    text-decoration: none;
    vertical-align: center;
    
}

li a:hover{
    text-underline-position: below;

}

main {
    text-align: center;
    
}

footer {
    vertical-align: bottom;
}