
#rcorner1 {
    border-radius: 30px;
    padding: 10px;
    width: 200px;
    height: 50px;
    margin: 20px;
}

#rcorner2 {
    border-radius: 5px;
    background-color:  grey;
    padding: 10px;
    width: 200px;
    height: 50px;
    margin: 20px;
    
}

#search {
    position: absolute;
    top: 311px; 
}

.nav {
    
}

.listright {
    float: right; 
}

.logo{
    background-color: rgb(161, 207, 179);
    padding: 50px;
    border: 10px;
}

html body {
    height: 100%; 
    margin: 0;
    display: block;
}

main {
    text-align: center;
    
}

header {
    position: absolute;
    margin: 7px 0 0 10px; 
}

footer {
    display: block; 
    bottom: 0;
    position: fixed;
    width: 100%;
    padding: 10px 0 10px 0;
    background-color: rgb(233, 232, 232);
}

ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
   
}

li {
    display: inline-block;
    padding-left: 10px;
   
}

li a {
    padding: 10px; 
    text-decoration: none;
    
    
}

li a:hover{
    text-underline-position: below;

}
